DB_NAME=aac
DB_USER=root
DB_PASS=root
DB_PORT=5432
DB_HOST=127.0.0.1
JWT_SECRET=jwt-secret
MAIL_USER=root@gmail.com
MAIL_PASS=root
REACT_APP_URL=http://localhost:3000
REACT_APP_API_SERVER_URL=http://localhost:8000/api/v1
